* {
    margin: 0;
    padding: 0;
}

h1 {
    width: 1000px;
    height: 100px;
    font-size: 50px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-left: 260px;
    padding-top: 20px;
}

h2 {
    color: rgba(22, 6, 247, 0.863);
    font-size: 30px;
}

.group {
    display: flex;
    justify-content: space-around;
}

.input-text {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 255, 255, 0.256);
    border-radius: 10px;
    padding-top: 15px;
    margin-bottom: 20px;
}

.newp {
    background-color: rgba(0, 0, 0, 0.489);
    font-size: 30px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-top: 15px;
}

.newb {
    background-color: yellow;
    font-size: 20px;
    color: black;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
}

.newd {
    background-color: green;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
}

.del {
    background-color: red;
    color: white;
    border: none;
    width: 50px;
    height: 30px;
    margin-top: 15px;
    text-align: center;
    margin-left: 70px;
}

.name {
    width: 250px;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: rgb(85, 86, 87);
    margin-top: 15px;
    padding-left: 10px;
}

.text {
    width: 250px;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: rgb(85, 86, 87);
    margin-top: 15px;
    padding-left: 10px;
}

.number {
    width: 250px;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: rgb(85, 86, 87);
    margin-top: 15px;
    padding-left: 10px;
}

.btn {
    width: 250px;
    height: 40px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}

.border {
    border: royalblue;
}